<div class="cardList">
      <ng-container *ngFor="let course of coursesAccess">
                <mat-card class="cardListItem example-card">
                        <mat-card-content>
                           <a>{{course.title}}</a>
                           <span fxLayoutAlign="center center"  class="price">{{course.weight}}- Rs {{course.price}}</span>              
                           
                        </mat-card-content>
                </mat-card>
        </ng-container>
    
</div>
      