<table mat-table [dataSource]="address" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> userId </th>
      <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> city </th>
      <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.city}} </td>
    </ng-container>
    <ng-container matColumnDef="pin">
      <th mat-header-cell *matHeaderCellDef> pin </th>
      <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.pin}} </td>
    </ng-container>
          <ng-container matColumnDef="near">
            <th mat-header-cell *matHeaderCellDef> near </th>
            <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.near}} </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> phone </th>
            <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.phone}} </td>
          </ng-container>
          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef> dateCreated </th>
            <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.dateCreated}} </td>
          </ng-container>
          <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef> key </th>
              <td mat-cell *matCellDef="let element" style="width: 10% !important;"> {{element.key}} </td>
            </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  